@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
.App{
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}
.main-sb-container {
  background-color: purple;
  float: left;
  width: 92px;
  height: 100vh;
  overflow: hidden;
}

    .header-wrapper {
      display: flex;
      justify-content: space-between;
      height: 45px;
      align-items: center;
      padding: 7px;
      /* background-color: aquamarine; */
      width: auto;
    }
    .all-content{
      width: calc(100vw - 113px);
      height: calc(100vh - 125px);
      padding: 10px;
      /* background-color: rgb(24, 89, 89); */
      overflow: hidden;
    }
    .text-content{
      float: left;
      padding-left: 7px;
    }

.header-wrapper .button {
    padding: 6px 12px;
    font-size: 1.1rem;
}

/* .main-container {
  margin-left: 92px;
  height: calc(100vh - 80px);
  padding: 20px;
} 
.main-container .head-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-between; */
/*} 
.main-container .head-wrapper .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.main-container .head-wrapper .header-container .header-text {
  box-sizing: border-box;
} */

.btn-container {
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px 13px;
  font-family: "Lora", serif;
}

.side-bar-active {
  background-color: rgb(212, 120, 211);
}
/*cities*/
.cities-wrapper{
    width: calc(100vw - 150px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.left-container{
  width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    height: calc(100vh - 50px);

}

.city-left-header{
  display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    font: normal bold 18px/24px Lato;
}
.cities-wrapper .left-container .none-selected-city-text{
  padding: 10px 10px;
  font-size: 14px;
  display: flex;
}

