@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}
.main-sb-container {
  background-color: purple;
  float: left;
  width: 92px;
  height: 100vh;
  overflow: hidden;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  padding: 7px;
  /* background-color: aquamarine; */
  width: auto;
}
.all-content {
  width: calc(100vw - 113px);
  height: calc(100vh - 125px);
  padding: 10px;
  /* background-color: rgb(24, 89, 89); */
  overflow: hidden;
}
.text-content {
  float: left;
  padding-left: 7px;
}

.header-wrapper .button {
  padding: 6px 12px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 700px) {
  .main-sb-container{
    width: 72px;
    height: 100vh;
  overflow: hidden;
  }
  .cities-wrapper{
    padding: 8px;
  }

  
  .city-left-header {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding: 2px;
    font: normal bold 18px/24px Lato;
  }
  .right-container {
    width: 90px;
    height: 100%;
    
  } 
  .right-container .city-right-header {
    height: 30px;
    width: 100px;
  }
    .right-data-container{
        height: calc(100vh - 500px);
        padding: 5px;
        width: 110px;
   
  }
  .city-detail{
    width: 40px;
  }
}
.btn-container {
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0px 13px;
  font-family: "Lora", serif;
}

.side-bar-active {
  background-color: rgb(212, 120, 211);
}
.side-bar-inactive{
    background-color: purple;
  }
/*cities*/
.cities-wrapper {
  width: calc(100vw - 150px);
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
}
.left-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  height: calc(100vh - 50px);
}

.city-left-header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  font: normal bold 18px/24px Lato;
}
.cities-wrapper .left-container .none-selected-city-text {
  padding: 10px 10px;
  font-size: 14px;
  display: flex;
}
/*model*/
.model-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
  z-index: 200;
}
.model-cover .model-main-box {
  position: fixed;
  background: #ffffff;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.model-cover .model-main-box .model-header {
  display: flex;
  border-radius: 12px 12px 0px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0% 4%;
  height: 50px;
  background-color: rgb(212, 120, 211);
}
.model-cover .model-main-box .model-title {
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #202020;
}
.model-cover .model-main-box .model-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.model-sub-container {
  display: flex;
  width: 100%;
  min-width: 420px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.model-sub-container .model-search {
  margin: 20px 0px 13px 0px;
}
.model-sub-container .model-search input {
  box-sizing: border-box;
  margin: 0px;
  position: relative;
  display: inline-block;
  line-height: 2;
  border: #ffffff 2px solid rgba(196, 192, 192, 0.574);
  border-radius: 3px;
  min-width: 0;
  width: 300px;
  padding-left: 10px;
}
/* .model-sub-container .model-search input::placeholder{
  ;
} */
.model-sub-container .model-search input:hover {
  border: 2px solid #3867d6;
  color: #3867d6;
}
.model-sub-container .model-cities-container {
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 94%;
  border-radius: 0px 0px 12px 12px;
  max-height: 270px;
  font-weight: bold;
  padding: 0% 3%;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}
.model-sub-container .model-cities-container::-webkit-scrollbar {
  display: none;
}
.model-sub-container .model-cities-container .city-con {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 95%;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  padding: 2% 2%;
  cursor: pointer;
}

.not-found-container{
  padding: 10px;
}
.add-icon-style{
  cursor: pointer;
}

.close-clicked {
  height: 100%;
  width: 100%;
}

.left-city-container{
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 100%;
  border: 1px solid rgb(218, 216, 216);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
  padding: 5px 0;
}
.left-city-container  div{
    padding: 2px;
    max-width: fit-content;
    margin-left: 10px;
  }
/*right container*/
  .right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%); 
    margin-left: 8%;
    margin-right: 650px;
  }

  .right-container .city-right-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
    height: 30px;
    width: auto;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    padding: 10px; 


    border-bottom: 1px solid #e5e5e5;
    font: normal bold 18px/24px Lato;
  }
  .right-data-container{
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 350px);
      padding: 10px;
  }
  .text-content{
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
  }
  .favcity-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px 0 0 10px;
    height: 110px;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    padding: 10px;
  }
  .favcity-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-weight: 500;
  }

  .favcity-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
  }
  div .favcity-content > * {
    margin-bottom: 5px;
  }